<configuration>
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="no.nav" level="debug"/>
    <logger name="no.nav.security" level="debug"/>
    <logger name="org.apache.kafka" level="info"/>

    <root level="info">
        <appender-ref ref="stdout_json" />
    </root>
</configuration>