<configuration>
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <exclude>org\.springframework\.security\.web\.ObservationFilterChainDecorator</exclude>
            </throwableConverter>
        </encoder>
    </appender>

    <logger name="no.nav" level="info"/>
    <logger name="no.nav.security" level="info"/>
    <logger name="org.apache.kafka" level="info"/>

    <root level="info">
        <appender-ref ref="stdout_json" />
    </root>
</configuration>